/***    General     ***/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif
}

body {
    margin: 0 auto
}

h1 {
    margin: 50px;
    padding: 30px;
}

.m-5-auto {
    margin: 5rem auto
}



.primary-button {
  background: blue;
  border-radius: 999px;
  box-shadow: blue 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  margin: 10px;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
  border: 0;
}


/* CSS */
.secondary-button {
  background-color: #e1ecf4;
  border-radius: 999px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: blue;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 5px;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.secondary-button:hover,
.secondary-button:focus {
  background-color: rgba(13, 13, 255, 0.468);
  color: blue;
}

.button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-8:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

/***    Landing Page     ***/
.box1 {
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    
}


.title {
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 60px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;
}

.sub-title {
    font-size: 2.5rem;
    text-Transform: capitalize
}

#reg_btn span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#reg_btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#reg_btn:hover span {
  padding-right: 25px;
}

#reg_btn:hover span:after {
  opacity: 1;
  right: 0;
}

/***    Login Page     ***/
h2 {
    font-weight: 300;
    margin:20px;
}

form {
    display: inline-block;
    background: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 2rem;
    margin: 2rem 0 1rem 0;
    width: 400px;

}

form label {
    float: left;
    font-size: .9rem;
    margin: 0;
    padding: 0;
}



.right-label {
    float: right;
    cursor: pointer
}

input {
    width: 15rem;
    padding: .3rem;
    border-radius: 5px;
    outline: none;
    border: none
}

#sub_btn {
    display: block;
    width: 100%;
    padding: .3rem;
    border: none;
    background: #222;
    color: #fff;
    border-radius: 3px;
}

#sub_btn:hover {
    background: #333;
    transition: all .5s
}

footer p {
    margin: 0;
    font-size: .9rem
}

/***    Register Page     ***/
#checkbox {
    width: 1rem
}

form span {
    font-size: .8rem
}

#reset_pass_lbl {
    float: left
}

/***    Home Page     ***/
.home-page-title {
    color: #222
}


table {
    table-layout: fixed;
    width: 70%;
    border-collapse: collapse;
    border: 3px solid rgb(8, 8, 8);
    align-items: center;
    justify-content: center;
    margin: 10px;
    /* align table in center */
    align-self: center;
}

th {
    background-color: #07160779;
    color: white;
    padding: 10px;
    text-align: center;
}

tr {
    text-align: center;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
}




.outer-main{
    flex:1;
    overflow: scroll;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card-main {
    width: 300px;    
    margin : 20px;
    background-color: rgba(255, 144, 33, 0.74);
    color: black;
    border-radius: 20px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.container-main{
    padding: 0px;
    margin: 10px;
}